@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: poppins, serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --bg-color: #ffffff;
    --text-color: #0f172a;
    --main-color: #6b7280;
    --other-color: #334155;
    --big-font: 4.3rem;
    --h2-font: 2.2rem;
    --p-font: 1rem;
}

body{
    color: var(--text-color);
    background: var(--bg-color);
}

nav{
    position: fixed;
    /* background-color: aqua; */
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 11%;
    border-bottom: 1px solid #f7f9fb;
    transition: all .45s ease;
}

.logo-container{
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}

.logo i{
    width: 100px;
    height: 100px;
    position: relative;
    top: 40px;
}

.logo-container .logo{
    width: 120px;
    height: 50px;
    /* display: flex; */
    margin-left: -25px;
    font-size: large;
    }

.lists{
    display: flex;
    /* border: 1px solid; */
}

.lists a{
    font-size: var(--p-font);
    color: var(--other-color);
    font-weight: 400;
    padding: 10px 25px;
    margin: 0 5px;
    background: transparent;
    border-radius: 30px;
    transition: all .45s ease;
    
}

section{
    padding: 100px 11% 90px;
}

.lists a:hover{
    background: #f7f9fb;
}

.lists a.active{
    background: #f7f9fb;
}

.icons{
    display: flex;
    align-items: center;
    /* border: 1px solid; */
}

.icons i{
    width: 50px;
    height: 50px;
    background: #f7f9fb;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--other-color);
    font-size: 22px;
    margin-right: 25px;
    margin-left: 10px;
    transition: all .45s ease;
}

.icons i:hover{
    transform: scale(0);
}

#menu-icon{
    color: var(--other-color);
    font-size: 33px;
    z-index: 10001;
    cursor: pointer;
    /* display: none; */
}

.home{
    height: 100vh;
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gold-yellow-gradient-studio-wall-well-use-as-background-layout-banner-product-presentation_1258-70979.jpg?t=st=1716411201~exp=1716414801~hmac=7c6ef8c567cab82db1917a275a8baedb32800efd5ee5a38843ce3ec372b38d52&w=900);
    background-color: aliceblue;
    background-size: cover;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.home-img img{
    margin-top: -300px;
    width: 100%;
    height:auto;
}

.home-text h4{
    font-size: 22px;
    font-weight: 500;
    color: var(--other-color);
}

.home-text h1{
    font-size: var(--big-font);
    color: var(--text-color);
    line-height: 1.2;
    margin: 25px 0 45px;
}
.btn{
    display: inline-block;
    padding: 16px 30px;
    background: var(--text-color);
    color: var(--bg-color);
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 30px;
    transition: all .45s ease;
}

.btn:hover{
    letter-spacing: 2px;
    opacity: 0.8;
}

nav.sticky{
    background: var(--bg-color);
    padding: 14px 11%;
}

.middle-text h2{
    font-size: var(--h2-font);
    /* color: brown; */
    font-weight: 600;
    text-align: center;
}


span{
    color: var(--main-color);
}


.row-img img{
    width: 150px;
    height: auto;
}

.feature-content{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    align-items: center;
    margin-top: 5rem;
    
}

.row{
    padding: 30px 70px;
    background: #f0cf39;
    border-radius: 20px;
    transition: all .45s ease;
    
   
}

.row-text h6{
    font-size: 13px;
    font-weight: 700;
    color: var(--other-color);
    margin-bottom: 10px;
}

.row-text h3{
    margin-bottom: 1.5rem;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
}

.row-btn{
    display: inline-block;
    padding: 11px 22px;
    border-radius: 5px;
    background: var(--other-color);
    color: burlywood;
    font-size: 15px;
    border-radius: 30px;
    transition: all .45s ease;
}

.row-btn:hover{
    letter-spacing: 1px;
   background: var(--text-color);
 }

 .row:hover{
    transform: translateY(-15px);
    cursor: pointer;
 }


